$color-primary: #005a9c;
$color-white: #fff;
$color-black: #000;
$color-success: #007A3D;
$color-warning: #FF8C00;
$color-danger: #ef3e42;
$color-info: #A5ACAF;

:root {
  --nv-color-info-dark-2: #73767a;
  --nv-color-info-light-3: #b1b3b8;
  --nv-color-info-light-5: #c8c9cc;
  --nv-color-info-light-7: #dedfe0;
}
