$color-primary: #005a9c;
$color-white: #fff;
$color-black: #000;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #ef3e42;
$color-info: #909399;

:root {
  --nv-color-info-light-3: #b1b3b8;
  --nv-color-info-light-5: #c8c9cc;
  --nv-color-info-light-7: #dedfe0;
}
